@page {
  @top-left {
    content: flow(--onedoc-page-top);
    position: relative;
  }

  @bottom-left {
    content: flow(--onedoc-page-bottom);
    position: relative;
  }
}

.--onedoc-page-top {
  -prince-flow: static(--onedoc-page-top);
  width: 100%;
  height: 100%;
}

.--onedoc-current-page-top {
  position: --onedoc-page-top;
  width: 100%;
  height: 100%;
}

.--onedoc-page-bottom {
  -prince-flow: static(--onedoc-page-bottom);
  width: 100%;
  height: 100%;
}

.--onedoc-page-break {
  page-break-after: always;
}

.--onedoc-no-break {
  page-break-inside: avoid;
}
