@page {
  @top-left {
    content: flow(--docify-page-top);
    position: relative;
  }

  @bottom-left {
    content: flow(--docify-page-bottom);
    position: relative;
  }
}

.--docify-page-top {
  -prince-flow: static(--docify-page-top);
  width: 100%;
  height: 100%;
}

.--docify-current-page-top {
  position: --docify-page-top;
  width: 100%;
  height: 100%;
}

.--docify-page-bottom {
  -prince-flow: static(--docify-page-bottom);
  width: 100%;
  height: 100%;
}

.--docify-page-break {
  page-break-after: always;
}

.--docify-no-break {
  page-break-inside: avoid;
}
